.responsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  background-color: white;
}

.responsive > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

img {
  display: block;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* add your CSS styles below */
